MYSQL_ROOT_PASSWORD=password
MYSQL_DATABASE=wordpress_db
MYSQL_USER=ekamada
MYSQL_PASSWORD=correcthorsebatterystaple
MYSQL_HOST=mariadb
MYSQL_PREFIX=wp_

DOMAIN_NAME=ekamada.42.fr
WP_TITLE=ekamada
WP_ADMIN_USR=root
WP_ADMIN_PWD=adminmin
WP_ADMIN_EMAIL=admin@example.com

WP_USR=ekamada
WP_EMAIL=es377233@gmail.com
WP_PWD=correcthorsebatterystaple
